*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e7e7e7;
    padding-top: 8%;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 740px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
}

form input {
    background-color: #fff;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #000;
}
table {width: 100%;}
table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 8px 0;
    border-bottom: 1px solid #00000044;
}

table td img {
    height: 30px;
}

.resultado {
    padding: 8px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
}

.aprovado {
    background-color: #009432;
}

.reprovado {
    background-color: #d32f2f;
}